header.top-header {
    width: 100%;
    height: 450px;
    background-image: url(/images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    & .container {
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & .main-nav ul li {
            display: inline;
            padding-left: 15px;

            & a {
                color: #FFF;
            }
        }
    }
}

section.project-block {
    width: calc(100% - 30px);
    max-width: 680px;
    margin: -80px auto 30px auto;
    padding: 40px;
    background-color: $white;
    border-radius: 8px;
    text-align: center;

    & img.logo-project {
        margin: -65px auto 20px auto;
        display: block;
    }

    & h1 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    & p {
        color: $darkGray;
        margin-bottom: 50px;
    }

    & .btn-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & .bookmark {
            color: $darkGray;
            background-color: $gray;
            font-weight: 700;
            padding: 15px 30px 15px 0px;

            & img {
                display: inline-block;
                margin: -18px 0px;
                padding: 0px 15px 0px 0px;
            }
        }
    }
}

section.goals-block {
    width: calc(100% - 30px);
    max-width: 680px;
    margin: 30px auto;
    padding: 40px;
    background-color: $white;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;

    & .goals-info {
        flex-basis: 33.33%;
        border-right: 2px solid $gray;
        padding-right: 30px;
        padding-left: 20px;

        & span {
            font-weight: 600;
            font-size: 1.8em;
            margin-bottom: 10px;
        }

        & p {
            font-size: 0.875em;
            color: $darkGray;
        }
    }

    & .border-reset {
        border-right: 0!important;
    }

    & .goal-progress {
        width: 100%;
        height: 10px;
        background-color: $gray;
        border-radius: 10px;
        margin-top: 20px;

        & .progress {
            width: 75%;
            height: 10px;
            border-radius: 10px;
            background-color: $moderateCyan;
        }
    }
}

section.project-info {
    width: calc(100% - 30px);
    max-width: 680px;
    margin: 30px auto;
    padding: 40px;
    background-color: $white;
    border-radius: 8px;

    & h1 {
        font-size: 1.25em;
        margin-bottom: 30px;
    }

    & p {
        font-size: .875em;
        color: $darkGray;
        line-height: 1.4;
        margin-bottom: 25px;
    }

    & article.block-plans {
        width: 100%;
        padding: 25px;
        border: 1px solid $lightGray;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: row;

            & > h1 {
                font-size: 1.1em;
                margin-bottom: 20px;
            }

            & > span {
                font-size: 0.875em;
                color: $moderateCyan;
                margin-bottom: 20px;
            }
        }

        & > p {
            color: $darkGray;
            line-height: 1.8;
            font-size: .875em;
        }

        & .project-available {
            & > span {
            font-weight: 600;
            font-size: 2.2em;
            display: inline-block;
            }

            & b {
                font-size: 1em;
                color: $darkGray;
                margin: 0px 5px;
            }
        }
    }
}

section.modal-projects {
    width: calc(100% - 30px);
    max-width: 680px;
    margin: 0 auto;
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;

    & header {
        & > h1 {
            margin-bottom: 20px;
        }

        & > p {
            margin-bottom: 20px;
            color: $darkGray
        }
    }

    & article {
        width: 100%;
        padding: 25px;
        border: 1px solid $lightGray;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & > header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 20px;

            & > div {
                width: 80%;
                display: flex;
                flex-wrap: wrap;

                & > h1 {
                    font-size: 1em;
                    padding-right: 10px;
                }

                & > span {
                    color: $moderateCyan;
                }
            }
        }

        & > p {
            color: $darkGray
        }
        
        & .select-start {
            display: none;
        }
    }
}

section.modal-success {
    width: calc(100% - 30px);
    max-width: 680px;
    margin: 0 auto;
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;
}